.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
  color: #000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color:#ccc
}

/* Navbar */
.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
  position: relative;
}

/* Hover effect */
.navbar a:hover {
  color: #fff;
}

/* Active menu */
.navbar .active {
  color: #fff;
}

.navbar .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: -5px;
  left: 0;
}

/* Icon bên phải */
.actions span {
  margin-left: 15px;
  cursor: pointer;
}
 
body {
  background: #fff;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #000;
  color: #fff;
}

.header nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

/* Hero */
.hero {
  height: 400px;
  background: linear-gradient(to right, #000, #222);
  color: white;
  display: flex;
  align-items: center;
  padding: 50px;
}

#buy {
    margin-top: 20px;
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px white;

}
.hero button {
  margin-top: 20px;
  padding: 10px 20px;
}
.iphone14 {
    position : absolute;
    top : 50%;
    right    : 50%;
    transform : translate(-50%, -50%);
    background: transparent;
    color: white;
}
/* Categories */
.categories {
  padding: 40px;
}

.category-list {
  display: flex;
  gap: 15px;
}

.category {
  padding: 15px 25px;
  background: #eee;
  border-radius: 10px;
}

/* Products */
.product {
  background: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.product-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* Image */
.product img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Title */
.product h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

/* Price */
.price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Button */
button {
  background: black;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #333;
}

/* Banner */
.banner {
  background: #111;
  color: white;
  text-align: center;
  padding: 60px;
}

/* Footer */
.footer {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}